body{
background-color: #262626;
display: flex;
flex-direction: column;
align-items: center;
}
.main-nav{
    width: 1440px;
    height : 225px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.main-nav__ul{
    display: flex;
    flex-direction: row;
    color: #e1b838;
    font-size: 33px;
    color: #e1b838;
    font-weight: 400;
    font-family: "Open Sans";
    width: 925px;
    height: 65px;
    border: 3px solid #e1b838;
    justify-content:space-evenly;
    align-items: center;
    list-style-type: none;
    padding-left: 0px;
}
.slider{
    width: 1420px;
    height: 600px;
    background-image:url(/img/BackgroundSlider.png);
    display: flex;
    justify-content: center;
    align-content: center;
}
.slider__obertka{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 9%;
    padding-left: 85px;
    
    
}

.slider__h{
    border: 11px solid #e1b838;
    width: 500px;
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 47px;
    color: #262626;
    font-weight: 800;
    font-family: "Open Sans";
    align-content: stretch;
    margin: 0;
    padding: 0;  
}
.slider__h--back{
    display: flex;
    width: 500px;
    margin: -1px;
    padding-bottom: 30px;  
    background-color: #e1b838;
    align-content: flex-start;
    justify-content: center;
}
.slider__h--date{
    background-color: #e1b73800;
    color: white;
    margin-top: 15px;
    z-index: 5;
}
.slider__text{
font-size: 43px;
color: #ffffff;
font-weight: 300;
font-family: "Open Sans";
z-index: 5;
}

.slider__img1{
    position: absolute;
left: 132px;
top: 230px;
z-index: 1;

}
.slider__img2{
    position: absolute;
left: 1150px;
top: 230px;
}